<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="./photo-gallery.css">
    </head>

    <body>
        <h1>Dear Visitor, welcome to the Homepage</h1>
        <p>This is my personal web site , theres not much going , but im learning!</p>
        <img src="./jonny.png" alt="george">
        <a href="/about">click here to know about</a>
    </body>

</html>