<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Works</title>
        <link rel="stylesheet" href="./photo-gallery.css">
    </head>

    <body>
        <h1>Works</h1>
        <p>These are a few thing that keep me up and running:</p>
        <ul>
            <li>taking care of my fabulous beard and hair</li>
            <li>code .. alot</li>
            <li>surf</li>
            <li>hanging out</li>
        </ul>
        <a href="/">click here to know about me</a>

    </body>

</html>